
{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [ "error", { "allow": [ "_id" ] }] ,
    "no-console": ["error", { "allow": ["log", "error"] }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-shadow": "off",
     "comma-dangle": "off",
    "eol-last": "off",
    "indent": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "linebreak-style": 0,
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "quotes": "off",
    "newline-per-chained-call" : "off"
  }
}